body{
    background-image: url("/Images/shara desert.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/* ================= NavBar=================== */
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    margin-left: 0px;
}
.logodiv{
    width: 5%;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 90%;
}
.list{
    width: 90%;
    margin: auto;
}
ul{
    list-style-type: none;
    text-align: right;
}
li{
    display: inline-block;
}
li a{
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.imgdiv{
    width: 5%;
    float: right;
}
.imgdiv button{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}
.img{
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

/* =============Navbar End=============== */
/* =============site body================ */
.sitebody{
    width: 90%;
    margin: auto;
    display: flex;
}
/* ================text part================== */
.textpart{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.textpart p{
    color: white;
}
.sahara{
    font-size: 100px;
    margin-bottom: 0px;
}
.butn{
    width:150px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
}
/* =============Text Part End================= */
/* ==============box part ====================== */

.boxpart{
    width: 50%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 40%;
    height: 200px;
    border: 0px;
    border-radius: 10px;
    margin: 2%;
    margin-right: 5%;
}
.box > p{
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}
.box1{
    background-image: url(/Images/pic-1.png);
    background-size: 100% 100%;

}
.box2{
    background-image: url(/Images/pic-2.png);
    background-size: 100% 100%;
}
.box3{
    background-image: url(/Images/pic-3.png);
    background-size: 100% 100%;
}
.box4{
    background-image: url(/Images/pic-4.png);
    background-size: 100% 100%;
}

/* ==================Box Part End================= */
/* ==================Site Body End================ */








/* ================Media Quaries=================== */

/* ================== For screen size less then 992  =========================== */
@media only screen and (max-width: 992px) {
    body{
    background-image: url("/Images/shara desert.jpg");
    background-attachment: fixed;
    background-position: center;
}
/* ================= NavBar=================== */
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    margin-left: 0px;
}
.logodiv{
    width: 5%;
}
.logo{
    height: 40px;
    width: 40px;
    margin-left: 90%;
}
.list{
    width: 90%;
    margin: auto;
}
ul{
    list-style-type: none;
    text-align: right;
}
li{
    display: inline-block;
}
li a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.imgdiv{
    width: 5%;
    float: right;
}
.img{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 12px;
}

/* =============Navbar End=============== */
/* =============site body================ */
.sitebody{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
/* ================text part================== */
.textpart{
    width: 80%;
    margin: 10px;
    padding: 10px;
}
.textpart p{
    color: white;
}
.sahara{
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.butn{
    width:150px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
}
/* =============Text Part End================= */
/* ==============box part ====================== */

.boxpart{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 70%;
    height: 200px;
    border: 0px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}
.box > p{
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}
.box1{
    background-image: url(/Images/pic-1.png);
    background-size: 100% 140%;

}
.box2{
    background-image: url(/Images/pic-2.png);
    background-size: 100% 140%;
}
.box3{
    background-image: url(/Images/pic-3.png);
    background-size: 100% 140%;
}
.box4{
    background-image: url(/Images/pic-4.png);
    background-size: 100% 140%;
}
}

/* ==================Box Part End================= */
/* ==================Site Body End================ */

